html, body  {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 0;
}

body {
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat';
}

div.all-content {
    display: flex;
    min-height: 0;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;

    padding: 0;
    position: relative;
    z-index: 1;
}

header nav {
    height: 60px;
    padding: 0 20px;
    
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header nav span ul {
    display: none;
}

nav span.nav-link div {
    margin: 0 10px;
}

nav span.nav-search input#search-input {
    height: 35px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0 40px;
    font-family: FontAwesome, 'Montserrat' !important;
}

nav span.nav-icon span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav span.nav-icon span p {
    font-size: 25px;
}

nav span img#bookshelf {
    height: 50px;
    width: 50px;
}

main {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

main article.carousel div.carousel-items {
    width: 100%;
}

main article.carousel div.carousel-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

main article.books-list {
    display: flex;
    flex-direction: column;
}

main article.books-list div.books-list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}

main article.books-list div.books-list-title {
    margin-left: 5%;
}

main article.books-list div.books-list-content section.book-card {
    height: 340px;
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

main article.books-list div.books-list-content section.book-card a {
    text-decoration: none;
    color: #000000;
}

main article.books-list div.books-list-content section.book-card div.book-desc {
    text-align: center;
}

main article.books-list div.books-list-content section.book-card div.book-desc p.book-desc-title {
    margin-top: 5px;
}

main article.books-list div.books-list-content section.book-card div.book-desc p.book-desc-synopsis {
    font-weight: lighter;
    margin: 0 10px;
}

main article.carousel section.img-carousel {
    width: 30%;
    height: 100%;
    position: relative;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

main article.carousel section.img-carousel div.img-container {
    position: relative;
    top: 0;
    left: 0;
}

main article.carousel section.img-carousel div.carousel-desc {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 15px 15px;
    color: #FFFFFF;
    padding: 3% 4%;
}   

main article.carousel section.img-carousel img {
    height: 250px;
    width: 100%;
    border-radius: 15px;
}

main article.carousel section.img-carousel#carousel-main img {
    height: 300px;
    }

aside.sidebar {
    z-index: 3;
}

aside.sidebar div.sidebar-content {
    align-items: center;
}

.sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    height: 100%;
}

.sidebar.is-visible  ~ .all-content {
    flex-basis: 100%;
}

/* Animation */
.all-content {
    transition: flex-basis .1s cubic-bezier(.465, .183, .153, .946);
    will-change: flex-basis;
}

.sidebar.is-visible  ~ .all-content {
    transition: flex-basis .3s cubic-bezier(.465, .183, .153, .946);
}

/* Look n feel */
* {
    box-sizing: border-box;
}

.sidebar-content {
    display: block;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.all-content {
    padding: 20px;
}


div.sidebar-nav {
    align-self: flex-start;
}

div.sidebar-nav div.sidebar-items {
    margin: 15% 0;
}

div.sidebar-nav div a {
    text-decoration: none;
    color: #000000;
}

div.sidebar-nav div.sidebar-content div.sidebar-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.sidebar-nav div.sidebar-content div.sidebar-profile h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* modal */
div.modal {
    display: none; 
    position: fixed; 
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: 'Montserrat', sans-serif;
}
div.add-modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-header {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px;
    padding: 2px 16px;
    color: #000000;
}
span.close-modal i {
    float: right;
    font-size: 28px;
    font-weight: bold;
}
span.close-modal:hover,
span.close-modal:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    margin: 25px 25px;
    padding: 2px 16px;
}
div.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
div.modal-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
button.submit-btn {
    border: none;
    font-size: 30px;
    background: #FBCC38;
    border-radius: 15px;
    color: #ffffff;
    padding: 20px 50px;
}
.form-label {
    font-size: 30px;
    width: 35%;
}
.form-input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 90%;
    font-size: 30px;
    color: #C8BABA;
    padding: 20px 20px;
}

/* contekan */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* andro or ios */
@media only screen and (max-width: 425px) {
    nav span.nav-link {
        display: none;
    }
    nav span.nav-search input#search-input {
        height: 35px;
        width: 150px;
        background: #FFFFFF;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 0 20px;
        text-align: center;
        font-family: FontAwesome !important;    
    }
    nav span.nav-icon p {
        display: none;
    }
    div.form-container {
        width: 100%;
    }
    main article.books-list  div.books-list-content section.book-card {
        margin: 5% 0;
    }
    main article.carousel div.carousel-items section.img-carousel {
        width: 100%;
    }
} 